{% extends "base.html" %}

{% block content %}
<form action="/add/form">
    <div class="inputs">
        <input type="number" max="11" min="1" class="input-command" name="grade" placeholder="Введите класс">

        <input type="text" class="input-command" name="letter" maxlength="2" placeholder="Введите букву класса">


    </div>

    <div class="answer">
        {{answer}}
    </div>
    <div style="margin-top: 30px">
        <h3>Таблицы в базе данных</h3>
        <ul>
            <li>student - таблица с учениками SELECT * FROM student (id, card_id, name, surname, patronymic, form_id)
            </li>
            <li>form - талица с классами SELECT * FROM form (id, grade, letter)</li>

        </ul>
    </div>

    <button type="submit" class="btn btn-dark" formmethod="post">
        Сделать запрос
    </button>
</form>

<style>
    input {
        width: 100%;
        margin-top: 20px;
        border-radius: 10px;
        border: 0;
        background-color: #dddddd;
        height: 40px;
        padding: 2px;
        margin: 10px;
    }

    .answer {
        margin-top: 20px;
    }

    .inputs {
        display: flex;

    }
</style>

{% endblock %}